.subList {
  padding-left: 20px;
}

.sub {
  display: flex;
  margin-bottom: 10px;
}
.sub:hover {
  background-color: rgb(240, 240, 240);
}

.sub p {
  padding-left: 10px;
}

.sub img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}