li {
  list-style-type: none;
  height: 100%;
}

article {
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr minmax(300px, auto);
}

.postTitle {
  display: flex;
}

.authorDetail {
  display: flex;
  width: 100%;
}
.authorDetail img {
  width: 40px;
  height:45px;
  border-radius: 50%;
}

.media img, .media video {
  max-width: 600px;
}