header {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 100px
}
.logo img {
  height: 100%;
  margin-left: -25px;
}

.search {
  width: 30%;
}
.search input {
  border-radius: 10px;
  border: none;
  height: 40px;
  width: calc(100% - 15px);
  padding-left: 15px;
  font-size: medium;
  background-color: rgb(240, 237, 237);
}
.search input:focus {
  outline: 1px solid rgb(145, 142, 142);
  background-color: rgb(255, 255, 255);
}

.userProfile {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}
.userProfile img {
  width: 100%;
}